<!DOCTYPE html>
<html>
<head>
	<title>This is practise page</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
	<header class="container center-align green lighten-4">
		<h1>This is Blogging post</h1>
		
	</header>
	
	{% block content %}
	{% endblock %}

	<a style="display: block;" class="center-align" href="/admin">Admin Page</a>
	<p>
		you have to post............
	</p>

</body>
</html>